* {box-sizing: border-box;}
html {margin: 0px; padding: 0px; font-family: sans-serif;}
h1 {font-size: 50px;}
h4 {font-size: 30p;}
header {display: flex; background-color: lightgray; position: absolute; width: 100%; margin-top: 0px; margin-left: 0px; align-items: flex-end; box-shadow: 0 0 10px 2px #222; padding: 20px 120px; z-index: 100;}
.z4li {display: inline-block; }
.z4container {justify-content: center;}
article, section {display: inline-block; padding-top: 0px 120px 0px 120px; font-size: 20px;}
article {display: flex; flex-direction: row; align-items: baseline; justify-content: baseline; padding: 150px 120px;}
.article-element {width: 50%;}
footer {box-shadow: 0 0 10px 2px #222; text-align: center;}