body {
    background-color: antiquewhite;
}

html {
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
}

#divZ4 {
    padding-top: 25%;
}

footer {
    padding: 50px 0px 20px 0px;
}